/*Putting everything in a box*/
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: cadetblue;
}

#money{
    /*money is 5 from the left of the screen*/
    left: 5vw;
    background-color: aliceblue;
    color: cadetblue;
}

#fish{
    /*an absolute postion allows you to change it*/
    position: absolute;
    color: #333;
}



/*flex box testing*/
div.rightBox {
    display: flex;
    /* alligning content*/ 
    justify-content: space-evenly;
    /* width */
    width: 60%;
    /*height */
    height: max-content;
    /*Setting bgc */ 
    background-color: aquamarine;
    /*setting the location of the content */ 
    align-items: center;
    /*Sets the direction things are put inside of the flex */ 
    flex-direction: row-reverse;
    /* Spreads them out evenly */
    flex-wrap:wrap
}
p.testNumber {
    /*sets the specific order in the rotation */ 
    order: 2;
    /*Aligning the specific */ 
    align-self: flex-end;

}